################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TwitterBot/v16
/packages
/TwitterBot/bin/Debug
/TwitterBot/obj/Debug
/TwitterBot/App.config
